@import "./styles/tokens.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  html {
    font-family: var(--font-sans);
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1, "cv11" 1;
  }
  code, pre, kbd {
    font-family: var(--font-mono);
  }
}
